{% extends 'base.html' %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">NY Sports API</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/use_api">Use API</a>
        <a class="nav-link active" href="#">Contact</a>
        <a class="nav-link" href="/data_preview">Data Preview</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Ezequiel's Contact Information</h1>
    <p class="lead">Feel free to reach out on <a href="https://www.linkedin.com/in/ezequielesparza/" target="_blank">LinkedIn</a> and check out the <a href="https://github.com/EzequielNYC/SportsAPI" target="_blank">Repo</a> here</p>
    <p class="lead">Leave contact info <a href="https://docs.google.com/forms/d/e/1FAIpQLSf8ewDLHU6G3p036OdKfjUeWm0ul4R5lmulHYZiY481c_OUDA/viewform?usp=sf_link" target="_blank">here</a</p>
    <p class="lead">
    </p>
</main>


  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>
{% endblock %}
