{% extends 'base.html' %}
{% load static%}
{% block content %}
<div>
    <!-- Content of the page -->

    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">NY Sports API</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/use_api">Use API</a>
                <a class="nav-link " href="/contact">Contact</a>
                <a class="nav-link active" href="#">Data Preview</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Sports Data Preview</h1>
        <p class="lead">Click On a Team and see Data! NBA Season has not started, no data</p>
        <p class="lead"></p>
        <label for="team-select">Select a team:</label>
        <select id="team-select" class="form-control">
            <option value="" disabled selected>-- Select a team --</option>
            <option value="MLB-Yankees">MLB - New York Yankees</option>
            <option value="MLB-Mets">MLB - New York Mets</option>
            <option value="NBA-Nets">NBA - Brooklyn Nets</option>
            <option value="NBA-Knicks">NBA - New York Knicks</option>
            <option value="NFL-Jets">NFL - New York Jets</option>
            <option value="NFL-Giants">NFL - New York Giants</option>
        </select>

        <table id="data-table" class="table">
            <thead>
                <tr>
                    <th class="col-sm-1">ID</th>
                    <th class="col-sm-2">Date</th>
                    <th class="col-sm-2">Opponent</th>
                    <th class="col-sm-1">Result</th>
                    <th class="col-sm-1">Score</th>
                    <th class="col-sm-1">Opponent Score</th>
                    <th class="col-sm-2">Location</th>
                    <th class="col-sm-1">Total Wins</th>
                    <th class="col-sm-1">Total Losses</th>
                    <th class="col-sm-1">Divisional Wins</th>
                    <th class="col-sm-1">Divisional Losses</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically populated by JavaScript -->
            </tbody>
        </table>
    </main>
</div>
<!-- jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js'%}"></script>
<!-- DataTables JS -->
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>

<script>
    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "pageLength": 10,
            "search": false,
            "dom": 'rt<"bottom"ip>',
            "lengthMenu": [[10],[10]]
        });
    
        $('#team-select').on('change', function () {
            var selectedTeam = $(this).val();
            var league = selectedTeam.split("-")[0];
            var team = selectedTeam.split("-")[1];
            var scoreColumn = "";
    
            if (league === "MLB" || league === "NBA" || league === "NFL") {
                scoreColumn = team.toLowerCase() + "_score";
            }
    
            $.ajax({
                url: '/' + team.toLowerCase() + '-data/',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    dataTable.clear(); // Clear existing rows from DataTable
    
                    $.each(data, function (index, game) {
                        var score = game[scoreColumn];
    
                        var row = [
                            game.id,
                            game.date,
                            game.opponent,
                            game.result,
                            score,
                            game.opponent_score,
                            game.location,
                            game.total_wins,
                            game.total_losses,
                            game.divisional_wins,
                            game.divisional_losses
                        ];
    
                        dataTable.row.add(row); // Add the new row to DataTable
                    });
    
                    dataTable.draw(); // Redraw the DataTable with updated data
                },
                error: function (xhr, status, error) {
                    console.log('An error occurred while fetching data: ' + error);
                }
            });
        });
    });
    </script>
        
{% endblock %}